In [1]:
import re
import tqdm.notebook as tqdm
import pandas as pd

path = '../../fake_client_data.csv'

c = 0
with open(path) as file:
    for line in file:
        if c == 1:
            break
        c += 1

line = str(line)
print(line)

1   Worthington   Soutar   wsoutar0@sogou.com   Male   56.65.108.146   0

In [2]:
# TODO: not quite done yet
pattern = re.compile(r'^(\d*)\s*(\w*)\s*(\w*)\s*([\w]*@\w*[\.]\w*)\s*([A-za-z]*)\s*(\d{0,3}\.\d{0,3}\.\d{0,3}\.\d{0,3})\s+(\d*[-\s]*\d*)')

In [3]:
result = []

count = 0
with open(path) as file:
    for line in file:
        count += 1

c = 0
with open(path) as file:
    for line in tqdm.tqdm(file, total=count):
        if c > 0:
            result.extend(pattern.findall(line.strip()))
        c += 1

cols = {f'Column {i}': [] for i in range(len(result[0]))}

for line in result:
    for i, e in enumerate(line):
        cols[f'Column {i}'].append(e)

pd.DataFrame(data=cols)

  0%|          | 0/6002 [00:00<?, ?it/s]

,Column 0,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6
0,1,Worthington,Soutar,wsoutar0@sogou.com,Male,56.65.108.146,0
1,2,Rivy,Trewhitt,rtrewhitt1@scientificamerican.com,,131.217.197.29,521 96
2,3,Sandor,Boorne,sboorne2@mac.com,Male,156.58.225.121,0
3,4,Lavinie,Ricciardo,lricciardo3@bing.com,Female,46.99.6.240,4224
4,5,Christiana,Tuhy,ctuhy4@elegantthemes.com,Female,55.141.89.64,811 40
...,...,...,...,...,...,...,...
4955,5994,Jarrod,Theodore,jtheodorerk@umn.edu,,111.76.18.228,0
4956,5997,Bettina,Kearns,bkearnsrn@bandcamp.com,Female,88.84.235.115,40293
4957,5998,Marcellina,mheatheringtonro,@naver.com,Female,130.61.177.128,59715
4958,6000,Alessandro,MacDuff,amacduffrq@ezinearticles.com,Male,144.252.186.4,23970-000
4959,6001,Port,Porter,pporterrr@shutterfly.com,,229.252.144.125,3313